* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: rgba(90, 88, 88, 0.692);
    color: white;
    

}
body {
    transition: background-color 0.5s ease, background-image 0.5s ease;
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.custom-toggler.navbar-toggler {
    
    border-color: rgb(17, 17, 17);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
